<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin Dashboard</title>
    </head>
    <body>
        <h1><strong> Welcome back, {{ admin.user.first_name }} {{ admin.user.last_name }} </strong></h1>
        <p style = "color: red"><strong> You are a System Administrator. </strong></p>
        <div><p><a href='{% url 'bookings_list' %}'> View all Bookings</p></div>
        <div><p><a href='{% url 'requests_list' %}'> View all Requests</p></div>
        <div><p><a href='{% url 'create_request' %}'> Submit or change a Request</p></div>
        <div><p><a href='{% url 'log_out' %}'> Log Out</p></div>
    </body>
</html>