<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin Dashboard</title>
    </head>
    <body>
        <h1><strong> Welcome back, {{ admin.user.first_name }} {{ admin.user.last_name }} </strong></h1>
        <p style = "color: orange"><strong>You are an admin at {{ admin.school_name }} </strong></p>
        <div><p><a href='{% url 'requests_list' %}'> View your Requests</p></div>
        <div><p><a href='{% url 'sign_up_admin' %}'> Create new admin</p></div>
        <div><p><a href='{% url 'log_out' %}'> Log Out</p></div>

    </body>
</html>
