{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
<div id="background-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12">
        <div class="card home-card mx-auto offset-md-1 offset-lg-2 text-center">
          <h1 class="card-title home-title home-card-header mx-auto mb-4">All bookings</h1>
          <div>
            <ol>
              <h4 class="view-request-text">All Bookings:</h4>
              {% for booking in bookings %}
                <div style="border:1px solid black;">
                  <li> {{booking.student.user.first_name}} booked with {{booking.teacher.user.first_name}} -
                     Number of lessons: {{booking.num_of_lessons}}
                     Days between lessons: {{booking.days_between_lessons}}
                     Lesson duration: {{booking.lesson_duration}}
                   </li>
                </div>
                 <div><a href="{% url 'admin_edit_booking' id=booking.id %}" class="btn btn-sm btn-secondary">Edit lesson booking</a></div>
                 <div><a href="{% url 'admin_delete_booking' id=booking.id %}" class="btn btn-sm btn-secondary">Delete booking</a></div>
                 <br>
              {% endfor %}
            </ol>
          </div>
          <div>
            <a href="{% url 'account' %}" class="btn btn-lg btn-secondary"> Return to Dashboard</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
