<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fox</title>
        <style>
            div {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div><h1>Fox</h1></div>
        <div><p>Welcome to Fox's musical tutoring website</p></div>
        <div><p><a href='{% url 'log_in' %}'>Log in</p></div>
        <div><p><a href='{% url 'sign_up' %}'>Sign up</p></div>
        <div><p><a href='{% url 'log_in_admin' %}'>Admin Login</p></div>
    </body>
</html>
