{% extends 'base.html' %}
{% block body %}
<div id="background-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card home-card mx-auto offset-md-1 offset-lg-2 text-center">
          <h1 class="card-title home-title">Fox</h1>
          <h3 class="card-subtitle home-text mb-2 text-muted">Welcome to the Fox musical tutoring website</h3>
          <p>Please log in below if you are a registered user, or sign up if you are not yet a registered user</p>
          <div><p><a href='{% url 'log_in' %}' class="btn btn-lg btn-warning">Log in</a></p></div>
          <div><p><a href='{% url 'sign_up' %}' class="btn btn-sm btn-secondary">Sign up</a></p></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}