{% extends 'base.html' %}
{% block body %}
<div id="background-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12">
        <div class="card login-card mx-auto">
          <h2 class="login-title login-card-header">Register Children</h2>
          <div>
            <a href='{% url 'create_request' %}' class="btn btn-lg btn-warning mb-4"> You are a parent of:
            {% for child in children %}
              <p> {{ child.first_name }} {{child.last_name}} </p>
            {% endfor %}
            </a>
          </div>
          <p> <form action= '{% url 'register_child' %}' method="post">
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=form %}
            <input type="submit" value="Register Child">
          </form> </p>
          <p> {{ form.message }} </p>
          <div><p><a href='{% url 'forgot_password' %}' class="btn btn-lg btn-secondary">Forgot your password?</a></p></div>
          <div><a href='{% url 'account' %}' class="btn btn-lg btn-secondary"> Return to Dashboard</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}