<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Requests</title>
  <style>
    div {
      text-align: center;
    }
  </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js">
  </script>

  <script type="text/javascript">
    // https://docs.djangoproject.com/en/3.2/ref/csrf/#acquiring-the-token-if-csrf-use-sessions-and-csrf-cookie-httponly-are-false
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    const cancelRequest = (reqId, theButton) => {
      // workaround for passing a JS variable to a python reverse url
      // https://stackoverflow.com/a/11262921
      var url = "{% url 'show_request' 999%}".replace(999, reqId);
      fetch(url, {
        method: "DELETE",
        credentials: "same-origin",
        headers: {
          "X-Requested-With": "XMLHttpRequest",
          "X-CSRFToken": getCookie("csrftoken"),
        }
      })
        .then(response => response.json())
        .then(data => {
          // hide the enclosing div
          theButton.parentNode.remove();
        });
    };
  </script>

</head>

<body>
  <div>
    <h1>Fox</h1>
  </div>
  <div>
    <h2><i>Your requests</i></h2>
  </div>

  <div>
    <ol>
      <h4>Unfulfilled requests:</h4>
      {% for request in requests %}
      {% if request.fulfilled is False %}
      <div style="border:1px solid black;">
        <li> {{request.no_of_lessons}} lessons of {{request.lesson_duration}} minutes each, with
          {{request.days_between_lessons}} days between lessons</li>
        <button type="button" onclick="cancelRequest({{request.id}}, this);"> Cancel request </button>
      </div>
      <br>
      {% endif %}
      {% endfor %}
    </ol>
  </div>

  <div>
    <ul>
      <h4> Fulfilled requests: </h4>
      {% for request in requests %}
      {% if request.fulfilled is True %}
      <li> {{request.no_of_lessons}} lessons of {{request.lesson_duration}} minutes each, with
        {{request.days_between_lessons}} days between lessons</li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div>
      <p><a href='http://localhost:8000/account/'> Return to Dashboard</p>
  </div>
</body>

</html>
