{% extends 'base.html' %}
{% block body %}
<div id="background-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12">
        <div class="card login-card mx-auto">
          <h2 class="login-title login-card-header"> View children</h2>
          <p> <form action= '{% url 'select_child' %}' method="post">
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=form %}
            <input type="submit" value="Select Child">
          </form> </p>
          
        {% if email != "" %}
        <div><p> Viewing data for: {{ email }} </p></div>
        <div>
          <ol>
            <h4 class="view-request-text">Unfulfilled requests:</h4>
            {% for request in requests %}
            {% if request.fulfilled is False %}
            <div style="border:1px solid black;">
              <li> {% if user.is_school_admin %} {{request.user.first_name}} {{request.user.last_name}} {% endif %} {{request.no_of_lessons}} lessons of {{request.lesson_duration}} minutes each, with
                {{request.days_between_lessons}} days between lessons</li>
              <!-- <button type="button" onclick="cancelRequest({{request.id}}, this);"> Cancel request </button> -->
              <div>
                <a href="{% url 'show_request' id=request.id %}" class="btn btn-sm btn-secondary mt-1 mb-1 ms-1 me-1">Show request</a>
                <a href="{% url 'delete_request' id=request.id %}" class="btn btn-sm btn-secondary mt-1 mb-1 ms-1 me-1">Delete request</a>
                {% if user.is_school_admin %}
                  <a href="{% url 'fulfill_request' id=request.id %}" class="btn btn-sm btn-secondary mt-1 mb-1 ms-1 me-1">Fulfill request</a>
                {% endif %}
              </div>
      
            </div>
            <br>
            {% endif %}
            {% endfor %}
          </ol>
        </div>
      
        <div>
          <ul>
            <h4 class="view-request-text">Fulfilled requests:</h4>
            {% for request in requests %}
            {% if request.fulfilled is True %}
            <div style="border:1px solid black;">
              <li> {% if user.is_school_admin %} {{request.user.first_name}} {{request.user.last_name}} {% endif %} {{request.no_of_lessons}} lessons of {{request.lesson_duration}} minutes each, with
                {{request.days_between_lessons}} days between lessons</li>
              <div><a href="{% url 'show_request' id=request.id %}" class="btn btn-sm btn-secondary mt-1 mb-1">Show request</a></div>
            </div>
            <br>
              {% endif %}
              {% endfor %}
          </ul>
        </div>
        <h4 class="view-request-text">Bookings:</h4>
          <table class="table">
            <tr>
              <td class="table-primary"> Number of Lessons</td>
              <td class="table-primary"> Description of Lesson</td>
              <td class="table-primary"> Inovice URN</td>
              <td class="table-primary"> Cost of Booking</td>
              <td class="table-primary"> User's email</td>
              <td class="table-primary"> Teacher's email</td>

            <tr>
          {% for booking in bookings %}
          <tr>
            <td> {{ booking.num_of_lessons }}</td>
            <td> {{ booking.description }}</td>
            <td>{{ booking.invoice.urn }}</td>
            <td>{{ booking.invoice.price }}</td>
            <td>{{ booking.user.email }}</td>
            <td>{{ booking.teacher.user.email }}</td>
            <td><a href="{% url 'show_booking' booking.id %}" name="data" value="parent"class="btn btn-sm btn-secondary">Show lessons in Booking</a></td>
            {% if user.is_school_admin %}
              <td><a href="{% url 'edit_booking' booking.id %}" class="btn btn-sm btn-secondary">Edit Booking</a></td>
              <td><a href="{% url 'delete_booking' booking.id %}" class="btn btn-sm btn-secondary">Delete Booking</a></td>
            {% endif %}
            </tr>
          {% endfor %}
          </table>

          <div class="card signup-card">
            
            <form action="{% url 'create_request' %}" method="post">
              {% csrf_token %}
              {% include 'partials/bootstrap_form.html' with form=child_form %}
              <input type="submit" name = "submit_field" value= "Submit for {{ email }}" class="btn btn-lg btn-warning">
            </form>
          </div>
        {% endif %}
          <div><a href='{% url 'account' %}' class="btn btn-lg btn-secondary"> Return to Dashboard</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}