<html>
    <head>
        <title>Fox</title>
        <style>
            div {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div><h1>Fox</h1></div>
        <div><p>Welcome to Fox's musical tutoring website</p></div>
        <div>
            <h2>Lessons in Booking:</h2>
            <!-- Possibly be able to view this in a calender? -->
            <table class="table">
                {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.name }}</td>
                    <td> {{ lesson.date }}</td>
                    <td> {{ lesson.startTime }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>