{% extends 'base.html' %}
{% block body %}
<div id="background-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12">
        <div class="card signup-card">
          <h2 class="signup-title signup-card-header">Sign up to Fox</h2>
          <h4 class="signup-text">Who are you signing up as?</h4>
          <p><a href='{% url 'sign_up_student' %}' class="btn btn-sm btn-primary mt-2">I'm a student</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
