{% extends 'base.html' %}
{% block body %}
<div class="container vh-100">
  <div class="row h-100">
    <div class="col-12">
      <div class="card signup-card">
        <h2 class="signup-title">Sign up to Fox as a student</h2>
        <h4 class="signup-text">Please sign up by filling the sign up form below</h4>
        <form action="{% url 'sign_up_student' %}" method="post">
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          <input type="submit" value="Sign up" class="btn btn-lg btn-warning">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
